@model Jedznaplus.Models.Ingredient
@{
    if (ViewBag.UnitNames == null)
    {
        ViewBag.UnitNames = ViewData["UnitNames"];
    }
}

<li class="ingredientRow" style="padding-bottom:15px">
    @using (Html.BeginCollectionItem("Ingredients"))
    {
        @Html.AntiForgeryToken()

        <span class="ingEditorItemName">@Html.LabelFor(model => model.Quantity)</span>
        @Html.EditorFor(model => model.Quantity)
        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })

        <span class="ingEditorItemName">@Html.LabelFor(model => model.UnitName)</span>
        @Html.DropDownListFor(model => model.UnitName, (SelectList)ViewBag.UnitNames)

        <span class="ingEditorItemName">@Html.LabelFor(model => model.Name)</span>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new {data_url = @Url.Action("AutoCompleteList") }, autocomplete = "on" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

        <span class="ingEditorItemName">@Html.LabelFor(model => model.Alergic)</span>
        @Html.EditorFor(model => model.Alergic)

        <span> | </span> <a href="#" onClick=" $(this).parent().remove();">Usuń składnik</a>
    }
</li>
