@model Jedznaplus.Models.ExcludeRecipe
@{
    ViewBag.Title = "Wyszukiwanie zaawansowane";
}

<h2>Wyszukiwanie zaawansowane</h2>

<div id="AdvancedearchArea">

    @using (Html.BeginForm("AdvancedSearch", "Recipes"))
    {

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxTime)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Vegetarians)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vegetarians)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.NotAlergic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NotAlergic)
        </div>
        <br>


        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.ExcludeIngredients):
            </div>
            <ul id="excludeingredientEditor" style="list-style-type: none"> </ul>
        </div>

        <a id="addAnother" href="#">Dodaj kolejny wykluczoy składnik</a>

        <input type="submit" value="Szukaj" />
    }
</div>

@Scripts.Render("~/Scripts/Jedznaplus/AdvancedSearch.js")
