@model Jedznaplus.Models.ExcludeRecipe

<h1 class="title">Wyszukiwanie zaawansowane</h1>

<div id="AdvancedearchArea">

    @using (Html.BeginForm("AdvancedSearch", "Recipes", FormMethod.Post, new { name = "frm", id = "frm" }))
    {
        <fieldset>
            <span id="validationJS" class="text-danger"></span>
            <div class="editor-label">
                @Html.LabelFor(model => model.MaxTime):
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MaxTime)
            </div>
            <br>

            <div class="editor-label">
                @Html.LabelFor(model => model.Vegetarians):
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Vegetarians)
            </div>


            <div class="editor-label">
                @Html.LabelFor(model => model.NotAlergic):
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NotAlergic)
            </div>
            <br>

            <div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.WantedIngredients):
                </div>
                <ul id="wantedingredientEditor" style="list-style-type: none"> </ul>
            </div>

            <a id="addAnotherWanted" href="#">Dodaj kolejny pożądany składnik</a>
            <br><br>

            <div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ExcludeIngredients):
                </div>
                <ul id="excludeingredientEditor" style="list-style-type: none"> </ul>
            </div>

            <a id="addAnother" href="#">Dodaj kolejny wykluczony składnik</a>
            <br><br>

        </fieldset>

        <input type="submit" value="Szukaj" class="btn btn-default" />
        <br>
    }
</div>


@Scripts.Render("~/Scripts/Jedznaplus/AdvancedSearch.js")
