@model Jedznaplus.Models.Recipe
@{
    ViewBag.Title = "Stwórz nowy przepis";
}


<h2>Stwórz nowy przepis</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true,"", new { @class = "text-danger" })

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <br>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageUrl)
        </div>
        <input type="file" name="file" accept="image/jpeg,image/png" >
        <br>
        <div class="editor-label">
            @Html.LabelFor(model => model.PreparationTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PreparationTime)
            @Html.ValidationMessageFor(model => model.PreparationTime, "", new { @class = "text-danger" })
        </div>
        <br>
        <div class="editor-label">
            @Html.LabelFor(model => model.Serves)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Serves)
            @Html.ValidationMessageFor(model => model.Serves, "", new { @class = "text-danger" })
        </div>
        <br>

        <div class="editor-label">
            @Html.LabelFor(model => model.Difficulty)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Difficulty, (SelectList)ViewBag.Difficulties)
        </div>
        <br>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vegetarian)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vegetarian)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Calories)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Calories)
            @Html.ValidationMessageFor(model => model.Calories, "", new { @class = "text-danger" })
        </div>
        <br>
        <p>
            <input type="submit" name="dodajPrzepis" value="Dodaj" class="btn btn-default" />
        </p>
    </fieldset>

}
<div>
    @Html.ActionLink("Powrót do listy przepisów", "Index")
</div>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/Jedznaplus/ImagePickerScript.js")





