@model IEnumerable<Jedznaplus.Models.Recipe>

@{
    ViewBag.Title = "Przepisy użytkownika";
}

<h2>Przepisy użytkownika</h2>

<p>
    @Html.ActionLink("Stwórz nowy przepis", "Create")
</p>

@foreach (var item in Model)
{
    <div class="miniaturka">
        <div class="fotka">
            <img src="@Url.Content(item.ImageUrl)" alt="image" width="150" height="150" />
        </div>

        <div class="nazwaPrzepisu">
            <h1> @Html.DisplayFor(modelItem => item.Name)</h1>
        </div>

        <label> Czas przygotowania: </label> @Html.DisplayFor(modelItem => item.PreparationTime) minut
        <br>

        <label> Ilość porcji: </label> @Html.DisplayFor(modelItem => item.Serves)
        <br>

        <label> Wartość kaloryczna: </label> @Html.DisplayFor(modelItem => item.Calories) kcal
        <br>


        @if (item.UserName == HttpContext.Current.User.Identity.Name)
        {
            @Html.ActionLink("Edycja", "Edit", new { id = item.Id })
        }

        @Html.ActionLink("Szczegóły", "Details", new { id = item.Id })

        @if (item.UserName == HttpContext.Current.User.Identity.Name)
        {
            @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
        }
    </div>
}

