@model IEnumerable<Jedznaplus.Models.Comment>

@if (!Model.Any())
{
    <p>Nikt jeszcze nie skomentował potrawy. Bądź pierwszy !</p>
}
else
{

    <table class="table" id="CommentsTable">

        <tr>
            <th style="width: 150px">
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <div class="CommentList" style="text-align: center; width: 100px">

                        @Html.DisplayFor(modelItem => item.UserName)
                        <img src="@Url.Content(Html.Action("AvatarURL", "Home", new {userName = item.UserName}).ToString())" alt="image" width="100" height="100" />

                    </div>
                </td>
                <td>
                    <p class="recipe_p_field">@Html.DisplayFor(modelItem => item.Content)<p>
                        @if (item.UserName == HttpContext.Current.User.Identity.Name || User.IsInRole("Admins") || User.IsInRole("Editors"))
                        {
                            <span>@Ajax.ActionLink("Usuń komentarz", "Delete", "Comments", new { id = item.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "CommentsList", OnComplete = "clearContent()" })</span>
                        }
                </td>
            </tr>
        }

    </table>
}
