@model Jedznaplus.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Logowanie";
}


<div id="header">
    <div id="header-wrap">

        <div class="inner">

            <!-- Logo -->
            <div id="logo">
                <a href=".."><img src="~/Resources/Images/logo.png" alt="Ingredients"></a>

            </div>
            <div class="wide blank">
                <div class="top"></div>
                <div class="mid">

                    <div class="menu">
                        <ul id="menu-category-menu-1" class="menu">
                            <li class="test"><a href=".."><span>Home</span></a></li>
                            <li class="test"><a href="http://themes.divwrap.com/ingredients/category/appetizers/"><span>Appetizers</span></a></li>
                            <li class="test"><a href="http://themes.divwrap.com/ingredients/category/beverages/"><span>Beverages</span></a></li>
                            <li class="test"><a href="http://themes.divwrap.com/ingredients/category/breakfast/"><span>Breakfast</span></a></li>
                            <li class="test"><a href="http://themes.divwrap.com/ingredients/category/desserts/"><span>Desserts</span></a></li>
                            <li class="test"><a href="http://themes.divwrap.com/ingredients/category/main-dishes/"><span>Main Dishes</span></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="inner">

        <!--=== Begin Main Column ===-->
        <div id="main-col">

            <div class="internal">

                <div class="repeat">

                    <!--=== Begin Contact Form ===-->

                    <h2>@ViewBag.Title</h2>
                    <div class="row">
                        <div class="col-md-8">
                            <section id="loginForm">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <h4>Użyj konta w serwisie do zalogowania</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Login, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.Login)
                                            @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.Password)
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.LabelFor(m => m.RememberMe)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Zaloguj się" class="btn btn-default" />
                                        </div>
                                    </div>
                                    <p>
                                        @Html.ActionLink("Zarejestruj się", "Register")
                                    </p>
                                    // Enable this once you have account confirmation enabled for password reset functionality
                                    <p>
                                        @Html.ActionLink("Zapomniałem hasła", "ForgotPassword")
                                    </p>
                                }
                            </section>
                        </div>
                        <div class="col-md-4">
                            <section id="socialLoginForm">
                                @*  @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
                            </section>
                        </div>
                    </div>
                    <!--=== End Contact Form ===-->


                </div>



            </div>

        </div>
        <!--=== End Main Column ===-->

    </div>
    <!--=== End Sidebar ===-->

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}